body {
    background-color: #c3edea;
    color: #f40552;
    text-align: center;
}

h1 {
    font-family: 'Lobster', cursive;
    font-size: 5rem;
    margin: 10% 0 5%;
}

h2 {
    font-family: 'Indie Flower', cursive;
    font-size: 2rem;
}

button {
    margin-bottom: 2%;
}

.block {
    display: inline-block;
    margin: 0 2rem;
}

.container-fluid {
    width: 70%;
    position: absolute;
    background-color: #f8f3eb;
    margin: 2% 15%;
    border-radius: 10%;
}

.fas {
    color: #1f4068;
    font-size: 10rem;
}

.table {
    width: 70%;
    margin: 10% auto 2%;
}
